.inline-block {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.w-50 {
	width: 49%;
}

.inline {
	display: inline-block;
}

.meta-label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}

.meta-container {
	display: block;
	margin-top: 20px;
}